* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
#header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(./images/b-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.topbar h4 {
  color: #fdfdfdc9;
  margin-left: 10%;
  font-weight: bold;
}
.topbar ul {
  margin-left: auto;
}
.topbar ul li a {
  color: #fdfdfdc9 !important;
  font-weight: bold;
}
.header .header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .header-content h3 {
  color: #fdfdfdc9;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}
.header .header-content p {
  color: #fdfdfdc9;
  font-weight: bold;
}

#search-portal {
  padding: 30px 0px;
  background: rgba(7, 7, 7, 0.829);
  margin: -50px 5% 50px;
}

.search-portal .form-control {
  width: 250px;
  display: inline-flex;
  margin: 10px 50px;
  border: none !important;
  border-radius: 0;
  box-shadow: none !important;
}
.search-portal .btn-secondary {
  display: inline-flex;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
@media all and (max-width: 600px) {
  .search-portal .btn-secondary {
    display: block;
    margin: auto;
  }
}

/* ---Social Icons CSS Start--- */
.social-icons {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.social-icons ul {
  padding: 0px;
}
.social-icons ul li {
  list-style-type: none;
}
.social-icons ul li {
  background: black;
  width: 30px;
  padding: 3px 3px;
  text-align: center;
  margin-top: 10px;
}
.social-icons ul li a {
  color: white;
  font-size: 20px;
}
.social-icons ul li:hover {
  width: 50px;
  padding-left: 10px;
  transition: all 1s linear;
}
/* ---Social Icons CSS End--- */

/* ----Top Parner Company CSS Start--- */
.partner {
  padding: 20px 20px;
  margin-top: -250px;
}
.partner h3 {
  padding: 50px;
}
.partner h3::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    rgb(198, 255, 221),
    rgb(251, 215, 134),
    rgb(247, 121, 125)
  );
  width: 50px;
  height: 30px;
  z-index: -1;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 100px;
  margin-top: -9px;
}

.company-logo img {
  max-width: 100px;
  max-height: 100px;
  margin: 10px 30px 10px 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
}

/* ----Top Partner Company CSS End--- */

/* ---Job Update CSS Start --- */
.update {
  background: rgba(231, 227, 227, 0.329);
  padding: 30px 30px;
}
.company-info {
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.01);
  margin-bottom: 30px;
}
.company-info h5 {
  font-weight: bold;
}
.company-info i {
  color: dodgerblue;
  padding-left: 2px;
}
.company-info i span {
  color: rgba(0, 0, 0, 0.863);
  margin-left: 10px;
  font-weight: 200;
}
.company-info p small span {
  font-weight: bolder;
  color: dodgerblue;
}
.company-info p .key-skills {
  color: black;
  font-weight: bold;
  background-color: #c3c3c38c;
  margin: 0px 2px;
}
.company-info a {
  text-decoration: none;
  color: black;
  float: right;
  background-color: #ece8e8;
  padding: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
}
.company-info .apply-btn {
  background-color: black;
  height: 40px;
  margin: 5px 0px;
}
.company-info .btn {
  float: right;
  height: 40px;
  color: white;
  border: none !important;
  border-radius: 0;
  box-shadow: none !important;
}
/* ---Job Update CSS End --- */

/* ---Pagination CSS Start--- */
.page {
  margin-top: 20px;
}
.pagination li a {
  border: none !important;
  box-shadow: none !important;
  color: black;
}

/* ---Pagination CSS End--- */

/* ---Job Vacancy CSS Start --- */
.job-vacancy {
  margin-top: 30px;
  padding: 20px 50px;
}
.job-vacancy h3 {
  margin-bottom: 50px;
}
.job-vacancy h3::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    rgb(198, 255, 221),
    rgb(251, 215, 134),
    rgb(247, 121, 125)
  );
  width: 50px;
  height: 30px;
  z-index: -1;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 100px;
  margin-top: -9px;
}
.job-vacancy .row .col-style {
  padding: 5%;
}
.job-vacancy .row .col-style .card {
  width: 100%;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: none;
}
.col-style i {
  font-size: 1.5rem;
}
.col-style i span {
  font-size: 1rem;
  margin-left: 10px;
}
.col-style p {
  font-weight: bold;
  margin-top: 10px;
}

/* ---Job Vacancy CSS End --- */

/* ---Mobole App CSS Start --- */
.app {
  background: black;
  margin-top: 30px;
  padding: 40px 50px;
  /* max-height: 100vh; */
}
.app h3 {
  color: white;
  font-weight: bold;
}
.app .row {
  margin-top: 50px;
}
.app img {
  width: 70%;
  height: 70%;
}
/* ---Mobole App CSS End --- */

/* ---Footer CSS Start--- */
.footer {
  margin-top: 50px;
}
.footer h2 {
  font-weight: bolder;
  margin-bottom: 20px;
}
.footer h2::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    rgb(198, 255, 221),
    rgb(251, 215, 134),
    rgb(247, 121, 125)
  );
  width: 50px;
  height: 30px;
  z-index: -1;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 100px;
  margin-top: -9px;
}
.footer .container p {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* ---Footer CSS End--- */
